VITE_SUPABASE_URL=https://uppdnpdgmokxcnxzrrcm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwcGRucGRnbW9reGNueHpycmNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5OTk3MTEsImV4cCI6MjA3MjU3NTcxMX0.tBZPMzUEsw7kpFi2wrBhU6Jakn8WLJzJFy2y-pKRb1Q
VITE_N8N_WEBHOOK_URL=https://workflows.pedrovsdautomacoes.shop/webhook-test/ba37c93c-75a1-4d26-885d-409d647a09c6